@charset "UTF-8"

body{
    font-family: Arial, Helvetica, sans-serif;
    /* height: 100%*/
}

body{
    background-image: linear-gradient(to bottom, rgb(159, 193, 49), rgb(219, 242, 39));
    background-attachment: fixed ;
}

main{
    background-color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgb(4, 41, 64) ;
    width: 600px;
    padding: 10px;
    margin: auto;
}

h1{
  color: rgb(0, 92, 83);
  text-align: center;
  text-shadow: 1px 1px 2px rgb(4, 41, 64);  
}

h2{
    color: rgb(214, 213, 142) ;
}

p{
    text-align: justify;
}